DB_HOST=localhost
DB_NAME=kitkart_db
DB_USER=root
DB_PASSWORD=
SESSION_SECRET=kitkart-session-secret
JWT_SECRET=kitkart-jwt-secret

MAILTRAP_HOST=sandbox.smtp.mailtrap.io
MAILTRAP_PORT=2525
MAILTRAP_USER=11e0fc3d370bc9
MAILTRAP_PASS=c145875f15d875
MAIL_FROM="KitKart <no-reply@kitkart.test>"
