<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title><%= title %></title>

<link rel="stylesheet" 
href="https://cdn.datatables.net/2.0.8/css/dataTables.dataTables.min.css">

<link rel="stylesheet" href="/css/catalog.css">

</head>

<body>

<main class="page">

<header class="catalog-header">

<div>
<a href="/dashboard" class="back-link">
Dashboard
</a>

<h1>
Products Management
</h1>

</div>


<a href="/admin/products/new" class="button-link">
Add Product
</a>


</header>



<section class="cart-panel">


<table id="productsTable" class="display">

<thead>

<tr>

<th>ID</th>
<th>Name</th>
<th>Category</th>
<th>Price</th>
<th>Stock</th>
<th>Image</th>
<th>Actions</th>


</tr>

</thead>


<tbody>


</tbody>


</table>


</section>


</main>



<script src="https://code.jquery.com/jquery-3.7.1.min.js">
</script>


<script src="https://cdn.datatables.net/2.0.8/js/dataTables.min.js">
</script>



<script>


$(document).ready(function(){


let table = $('#productsTable').DataTable({


ajax: {


url:'/admin/products/data',
type:'GET'


},



columns:[


{
data:'id'
},


{
data:'product_name'
},


{
data:'category_name'
},


{
data:'price',

render:function(data){

return "PHP " + parseFloat(data).toFixed(2);

}

},



{
data:'stock_quantity'
},



{
data:'image',

render:function(data){

return data ? data : '-';

}

},




{


data:'id',


render:function(id){


return `

<a href="/admin/products/${id}/edit">
Edit
</a>


<button 
class="deleteBtn"
data-id="${id}">
Delete
</button>


`;


}


}



]



});





$(document).on('click','.deleteBtn',function(){



let id=$(this).data('id');



if(confirm("Delete this product?")){


$.ajax({


url:'/admin/products/'+id+'/delete',


type:'POST',



success:function(){


table.ajax.reload();


}



});


}



});




});



</script>


</body>

</html>